@{
    Layout = "~/Areas/PhamVanTung_Admin/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Admin";
}

@section AdminHeader {
    <h2 class="admin-title">QUẢN TRỊ SACHONLINE</h2>
    <p class="admin-sub">ADMIN - Phạm Văn Tùng</p>
}
