@{
    var sl = (int)(ViewBag.TongSoLuong ?? 0);
}
<li>
    <a href="@Url.Action("GioHang","PhamVanTung_GioHang")">
        <span class="glyphicon glyphicon-shopping-cart"></span> Gio hang (@sl)
    </a>
</li>
