@{
    Layout = "~/Views/Shared/PhamVanTung.Layout.cshtml";
}
<h2 class="text-center text-success">XÁC NHẬN ĐƠN HÀNG</h2>
<p class="text-center">
    Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ sớm và giao hàng đúng hẹn.
</p>
<div class="text-center">
    <a href="@Url.Action("Index","PhamVanTungSachOnline")" class="btn btn-primary">VỀ TRANG CHỦ</a>
</div>
