@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/PhamVanTung.Layout.cshtml";
}

<h2 class="text-center">Gioi thieu</h2>
<hr />
<div class="panel panel-default">
    <div class="panel-body">
        <p>Website Sach Online duoc thiet ke de giup nguoi dung tim va dat mua cac dau sach moi nhat.</p>
        <p>Day la trang gioi thieu don gian. Neu can hien thi noi dung chi tiet hon, ban co the cap nhat file <code>Views/PhamVanTungSachOnline/About.cshtml</code>.</p>
    </div>
</div>
