@model IEnumerable<PhamVanTung.SachOnline.Models.CHUDE>

<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center">SACH THEO CHU DE</li>
    @if (Model != null)
    {
        foreach (var cd in Model)
        {
            <li class="list-group-item">
                <a href="@Url.Action("SachTheoChuDe", "PhamVanTungSachOnline", new { id = cd.MaCD })">
                    @cd.TenChuDe
                </a>
            </li>
        }
    }
</ul>
