@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/PhamVanTung.Layout.cshtml";
}

<h2 class="text-center">Lien he</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <h4>Thong tin</h4>
        <p>Email: phamvantung.cr25@gmail.com</p>
        <p>Dien thoai: 0123 456 789</p>
        <p>Dia chi: 227 Nguyen Van Cu, Q5, TP.HCM</p>
    </div>
    <div class="col-md-6">
        <h4>Gui thong diep</h4>
        <p>Neu can mot form lien he thuc su, hay them mot form POST vao day va xu ly trong controller.</p>
    </div>
</div>
